body {
  background: #2b2b2b;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Helvetica neue, roboto;
 
}

#canvas
{
  
  border:1px red solid;
}

#controller
{
   border:1px green solid;
   height:100px;
   width:300px;
}

.top
{

}

.left
{
  position:relative;
  top:30px;
  right:60px;
  
}

.right
{
  color:red;
  position:relative;
  top:30px;
  right:20px;
  
}

.bottom
{
  position:relative;
  top:60px;
  right:80px;
}